---
import Gmail from "../icons/Gmail.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Phone from "../icons/Phone.astro";


---

<h2 class="text-white text-4xl semi-bold flex justify-center">Contact</h2>
	<div class="flex flex-col gap-y-2 justify-center items-center mt-8 mb-16">   	
        <nav class="text-white flex gap-x-2 hover:scale-110">
           <a rel="noopener" target="_blank" class="flex justify-center items-cente gap-x-2 py-2 px-1" href="https://github.com/manuelaperezsimon">
					   <Gmail
              class="size-6"/>
              manuelaperezsimon@gmail.com
           </a>
        </nav>
        <nav class="text-white flex gap-x-2 hover:scale-110">
           <a rel="noopener" target="_blank" class="flex justify-center items-cente gap-x-2 py-2 px-1" href="tel:695-978-463">
					   <Phone
              class="size-6"/>
             +34 695 978 463
           </a>
        </nav>
         <nav class="text-white flex gap-x-2 hover:scale-110 sm:flex-col">
          <a rel="noopener" target="_blank" class="flex justify-center items-center gap-x-2 py-2 px-1" href="https://www.linkedin.com/in/manuelaperezsimon/">	
            <LinkedIn class="size-6"/> 
            LinkedIn
          </a>
        </nav>	
      </div>	

