---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2022 - 2024",
    title: "FullStack Developer",
    company: "Swipoo",
    description:
      "Development of web pages with CSS, Tailwind, HTML, React, NextJS, Typescript. On the Backend side: create APIs with MongoDB and PostgresSQL. / NodeJS. Microservices based on events. SOLID principles and good programming practices. Testing: React Testing Library, Jest & Cypress (Unit testing, e2e). SEO, CWV, design, Figma, convertibility, etc. Git, GitHub, Jira, Linear.",
  },
]
---

<h2 class="text-white text-4xl semi-bold flex justify-center">Work experience</h2>
<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
