
<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img src="/manuela.png" alt="Manuela Pérez Simón photo" class="rounded-full size-12"/>
    <nav class="flex flex-row gap-x-10">
        <a class="text-white" href="#top">Home</a>
        <a class="text-white" href="#about">About me</a>
        <a class="text-white" href="#experience">Experience</a>
        <a class="text-white" href="#projects">Projects</a>
        <a class="text-white" href="#contact">Contact</a>
    </nav>
</header>
